{% extends 'base.html.twig' %}

{% block title 'Commandes' %}

{% block body %}
	{% include 'menu/_app.html.twig' %}

	<h5 style='text-align: center'>Liste des commandes</h5>

	{% for commande in commandes %}
		{% if commande.etat != 'terminé' %}
			<div style='background-color: saddlebrown; margin-bottom: 10px; border-radius: 10px; margin-left: 5px; margin-right: 5px'>
				<div style='margin: 10px'>
					<div style='float: left'>
						<label style='color: white'>{{ commande.code }}</label>
					</div>
					<div style='float: right'>
						<label style='color: white'>{{ commande.prenom }} {{ commande.nom }}</label>
					</div>
				</div>
				<br>
				<div>
					{% for plat in commande.plats %}
						<label style='color: white; background-color: green; padding: 5px; border-radius: 10px'>{{ plat.nom }}
							{% if plat.prepare == 2 %}
								<label style='font-size: 15px; color: black'>✓</label>
							{% endif %}
						</label>
					{% endfor %}
				</div>
				<div>
					{% for menu in commande.commandeMenus %}
						{% for plat in menu.plats %}
							<label style='color: white; background-color: springgreen; padding: 5px; border-radius: 10px'>{{ plat.nom }}
								{% if plat.prepare == 2 %}
									<label style='font-size: 15px; color: black'>✓</label>
								{% endif %}
							</label>
						{% endfor %}
					{% endfor %}
				</div>
				<div style='text-align: center'>
					{% if commande.etat == 'commandé' %}
						<label style='color: white; background-color: red; padding: 5px; border-radius: 10px'>Commandé</label>
					{% elseif commande.etat == 'en cours' %}
						<label style='color: white; background-color: red; padding: 5px; border-radius: 10px'>En cours</label>
					{% endif %}
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}