{% extends 'base.html.twig' %}

{% block title %}Modifier la présentation{% endblock %}

{% block body %}
	{% include 'menu/_admin.html.twig' %}
	<br><br><br><br>

	{{ form_start(form) }}
		{{ form_label(form.texte_fr, 'Texte français', {'attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.texte_fr, {'attr': {'class': 'form-control'}}) }}
		<br>

		{{ form_label(form.texte_en, 'Texte anglais', {'attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.texte_en, {'attr': {'class': 'form-control'}}) }}
		<br>

		{{ form_widget(form.creer_texte, {'label': 'Créer le texte', 'attr': {'class': 'btn btn-success'}}) }}
		{{ form_widget(form.modifier_texte, {'label': 'Modifier le texte', 'attr': {'class': 'btn btn-info', 'style':'display:none'}}) }}
	{{ form_end(form) }}

	{{ form_start(form2) }}
		{{ form_widget(form2.up, {'label': 'Up', 'attr': {'class': 'form-control btn btn-success', 'style':'display:none'}}) }}
		{{ form_widget(form2.down, {'label': 'Down', 'attr': {'class': 'form-control btn btn-info', 'style':'display:none'}}) }}
		{{ form_widget(form2.remove, {'label': 'Supprimer', 'attr': {'class': 'form-control btn btn-danger', 'style':'display:none'}}) }}
	{{ form_end(form2) }}

	{% set i = 0 %}
	{% for texte in textes %}
		<div id='texte-{{ i }}' class='texte' style='margin: 20px; border: 2px solid black; user-select: none; padding: 20px; border-radius: 10px'>
			{{ texte.texteFr }}
		</div>
		{% set i = i + 1 %}
	{% endfor %}

	<script>
		const textes = {{ textes|json_encode|raw }};

		const admin_texte_texte_fr = document.getElementById('admin_texte_texte_fr');
		const admin_texte_texte_en = document.getElementById('admin_texte_texte_en');

		const position = '{{ position }}';
		if (position != '') {
			document.getElementById('admin_texte_select_position').value = parseInt(position);
			document.getElementById('admin_texte_position').value = parseInt(position);
			document.getElementById('texte-' + position).style.color = 'white';
			document.getElementById('texte-' + position).style.backgroundColor = 'green';
			document.getElementById('texte-' + position).style.borderColor = 'green';

			document.getElementById('admin_texte_id').value = textes[position].id;
			admin_texte_texte_fr.value = textes[position].texte_fr;
			admin_texte_texte_en.value = textes[position].texte_en;

			document.getElementById('admin_texte_modifier_texte').style.display = '';
			document.getElementById('admin_texte_select_up').style.display = '';
			document.getElementById('admin_texte_select_down').style.display = '';
			document.getElementById('admin_texte_select_remove').style.display = '';
		}

		Array.from(document.getElementsByClassName('texte')).forEach(function(texte) {
			texte.addEventListener('click', function(e) {
				Array.from(document.getElementsByClassName('texte')).forEach(function(texte) {
					texte.style.color = 'black';
					texte.style.backgroundColor = 'white',
					texte.style.borderColor = 'black';
				});
				e.target.style.color = 'white';
				e.target.style.backgroundColor = 'green';
				e.target.style.borderColor = 'green';
				document.getElementById('admin_texte_select_position').value = parseInt(e.target.id.split('-')[1]);
				document.getElementById('admin_texte_position').value = parseInt(e.target.id.split('-')[1]);

				document.getElementById('admin_texte_id').value = textes[parseInt(e.target.id.split('-')[1])].id;
				admin_texte_texte_fr.value = textes[parseInt(e.target.id.split('-')[1])].texte_fr;
				admin_texte_texte_en.value = textes[parseInt(e.target.id.split('-')[1])].texte_en;

				document.getElementById('admin_texte_modifier_texte').style.display = '';
				document.getElementById('admin_texte_select_up').style.display = '';
				document.getElementById('admin_texte_select_down').style.display = '';
				document.getElementById('admin_texte_select_remove').style.display = '';
			});
		});
	</script>
{% endblock %}