{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.liste_des_categories.liste_des_categories'|trans }}{% endblock %}

{% block body %}
	{% include 'menu/_admin.html.twig' %}
	<br><br><br><br>

	<div style='text-align: center'>
		<h5>{{ 'admin.liste_des_categories.liste_des_categories'|trans }}</h5>
		<table style='text-align: center; width: 100%'>
			<thead>
				<tr>
					<td><b>Id</b></td>
					<td><b>{{ 'admin.liste_des_categories.nom'|trans }}</b></td>
					<td><b>{{ 'admin.liste_des_categories.plats'|trans }}</b></td>
				</tr>
			</thead>
			<tbody>
				{% for categorie in categories %}
					<tr>
						<td>{{ categorie.id }}</td>
						<td>{{ categorie.nom }}</td>
						
						<td>{{ categorie.plats|join(', ') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}