{% extends 'base.html.twig' %}

{% block title %}Créer une catégorie{% endblock %}

{% block body %}
	{% include 'menu/_admin.html.twig' %}
	<br><br><br><br>

	{{ form_start(form) }}
		{{ form_label(form.nom) }}
		{{ form_widget(form.nom) }}
		<br>

		{{ form_label(form.plats) }}
		{{ form_widget(form.plats) }}
		<br>
		
		<button>Créer catégorie</button>
	{{ form_end(form) }}
{% endblock %}