{% extends 'base.html.twig' %}

{% block title 'admin.plats.liste_des_plats'|trans %}

{% block body %}
	{% include 'menu/_admin.html.twig' %}

	<div style='text-align: center'>
		<h5>{{ 'admin.plats.liste_des_plats'|trans }}</h5>
		<table style='text-align: center; width: 100%'>
			<thead>
				<tr>
					<td><b>Id</b></td>
					<td><b>{{ 'admin.plats.nom'|trans }}</b></td>
					<td><b>{{ 'admin.plats.prix'|trans }}</b></td>
					<td><b>Image</b></td>
				</tr>
			</thead>
			<tbody>
				{% for plat in plats %}
					<tr>
						<td>{{ plat.id }}</td>
						<td>{{ plat.nom }}</td>
						<td>{{ plat.prix }}</td>
						<td><img src='{{ asset('img/' ~ plat.image) }}' height='150px'></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}