{% extends 'base.html.twig' %}

{% block title %}Créer un plat{% endblock %}

{% block body %}
	{% include 'menu/_admin.html.twig' %}
	<br><br><br><br>

	<div style='text-align: center'>
		{{ form_start(form) }}
			{{ form_label(form.nom, null, {'attr': {'class':'form-label'}}) }}
			{{ form_widget(form.nom, {'attr': {'class':'form-control'}}) }}
			<br>

			{{ form_label(form.prix, null, {'attr': {'class':'form-label'}}) }}
			{{ form_widget(form.prix, {'attr': {'class':'form-control'}}) }}
			<br>

			{{ form_label(form.image, null, {'attr': {'class':'form-label'}}) }}
			{{ form_widget(form.image, {'attr': {'class':'form-control'}}) }}
			<br>

			{{ form_label(form.categoriePlats, null, {'attr': {'class':'form-label'}}) }}
			{{ form_widget(form.categoriePlats, {'attr': {'class':'form-control'}}) }}
			<br>
			
			<button class='btn btn-success'>Créer le plat</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
