{% extends 'base.html.twig' %}

{% block title 'admin.index.modifier_le_mot_de_passe'|trans %}

{% block body %}
	{% include 'menu/_admin.html.twig' %}
	<br><br><br><br>

	<div style='text-align: center'>
		<h5>{{ 'admin.index.modifier_le_mot_de_passe'|trans }}</h5>

		{{ form_start(form) }}
			{{ form_label(form.password.first, 'admin.index.mot_de_passe', {'attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
			<br>

			{{ form_label(form.password.second, 'admin.index.confirmation_mot_de_passe', {'attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
			<br>

			{{ form_errors(form.password.first) }}
			
			<button class='btn btn-success'>{{ 'admin.index.modifier_le_mot_de_passe'|trans }}</button>
		{{ form_end(form) }}
	</div>
{% endblock %}