{% extends 'base.html.twig' %}

{% block title 'admin.menus.liste_des_menus'|trans %}

{% block body %}
	{% include 'menu/_admin.html.twig' %}

	<div style='text-align: center'>
		<h5>{{ 'admin.menus.liste_des_menus'|trans }}</h5>

		<table style='text-align: center; width: 100%'>
			<thead>
				<tr>
					<td><b>Id</b></td>
					<td><b>{{ 'admin.menus.nom'|trans }}</b></td>
					<td><b>{{ 'admin.menus.prix'|trans }}</b></td>
					<td><b>{{ 'admin.menus.categories'|trans }}</b></td>
				</tr>
			</thead>
			<tbody>
				{% for menu in menus %}
					<tr>
						<td>{{ menu.id }}</td>
						<td>{{ menu.nom }}</td>
						<td>{{ menu.prix }}</td>
						<td>
							<table>
								{% for categorie in menu.categories %}
									<tr><td>{{ categorie }}</td></tr>
								{% endfor %}
							</table>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}