{% extends 'base.html.twig' %}

{% block body %}
	{% include 'menu/_menu.html.twig' %}

	<div class="row">
		<div class="column">
			<img src="{{ asset('img/photo1.jpg') }}">
			<img src="{{ asset('img/photo2.jpg') }}">
			<img src="{{ asset('img/photo3.jpg') }}">
		</div>
		<div class="column">
			<img src="{{ asset('img/photo4.jpg') }}">
			<img src="{{ asset('img/photo5.jpg') }}">
			<img src="{{ asset('img/photo6.jpg') }}">
		</div>
		<div class="column">
			<img src="{{ asset('img/photo7.jpg') }}">
			<img src="{{ asset('img/photo8.jpg') }}">
			<img src="{{ asset('img/photo9.jpg') }}">
		</div>
		<div class="column">
			<img src="{{ asset('img/photo10.jpg') }}">
			<img src="{{ asset('img/photo11.jpg') }}">
			<img src="{{ asset('img/photo12.jpg') }}">
		</div>
	</div>
	
{% endblock %}