{% extends 'base.html.twig' %}

{% block title 'La Table des Oursons - '~'menu_bar.commander'|trans %}

{% block body %}
	{% include 'menu/_menu.html.twig' %}
	<br><br><br><br>

	<div style='width: 20%; float: left; overflow-y: scroll; max-height: 80%'>
		<h1>Votre commande :</h1>
		<h2>{{ 'commande.menus'|trans }}</h2>
		{% for commandeMenu in commandeMenus %}
			<h4>{{ commandeMenu.menu.nom }}, {{ commandeMenu.menu.prix }}€</h4>
			<table>
			{% for plat in commandeMenu.plats %}
				<tr>
					<td><b>{{ plat.nom }}</b></td>
					<td><img src='{{ asset('img/'~plat.image) }}' height='100' width='100' style='border-radius: 10px'></td>
				</tr>
			{% endfor %}
			</table>
		{% endfor %}
	</div>
	<h2>Total : <span id='total'>{{ total_menus }}</span>€</h2>

	<div style='width: 80%; float: right'>
		<h5>Choisissez le menu :</h5>
		<div>
			{% for menu in menus %}
				<button id='menu-{{ menu.id }}' class='menu btn' onclick="selectMenu(this)" style='border-radius: 10px'>{{ menu.nom }}</button>
			{% endfor %}
		</div>

		<div id='categories'></div>
		<br>
		
		{{ form_start(form2) }}
			<button class='btn btn-success'>{{ 'commande.ajouter_menu'|trans }}</button>
		{{ form_end(form2) }}

		<br>

		{% for plat in plats %}
			<img title='{{ plat.nom }}' id='p-{{ plat.id }}' onclick="selectPlat(this)" src='/img/{{ plat.image }}' width="100" height="100" style="border-radius: 10px; padding: 5px">
		{% endfor %}

		{{ form_start(form) }}
			{{ form_label(form.prenom, 'commande.prenom', {'attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}

			{{ form_label(form.nom, 'commande.nom', {'attr': {'class': 'form-label'}}) }}
			{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
			<br>

			<button type='submit' class='btn btn-success'>{{ 'commande.commander'|trans }}</button>
		{{ form_end(form) }}
	</div>

	<script>
		const menus = {{ menus|json_encode|raw }};
		const plats = {{ plats|json_encode|raw }};
		let commande_menu_plats = [];
		let commande_plats = [];
		const total_menus = {{ total_menus }};

		function selectMenu(menu) {
			const menu_id = menu.id.split('-')[1];
			document.getElementById('commande_menu_menu').value = menu_id;

			Array.from(document.getElementsByClassName('menu')).forEach(function(m) {
				m.style.border = '';
			});
			document.getElementById('menu-'+menu_id).style.border = '5px solid green';

			menu = menus.find(m => m.id == menu_id);
			
			document.getElementById('categories').innerHTML = '<h5>Choisissez les plats :</h5>';
			for (const category of menu.categories) {
				commande_menu_plats['category-'+category.id] = '';

				document.getElementById('categories').innerHTML += '<div>';
				document.getElementById('categories').innerHTML += '<div><b>'+category.nom+'</b></div>';

				for (const plat of category.plats) {
					document.getElementById('categories').innerHTML += '<img title="'+plat.nom+'" id="plat-'+plat.id+'" class="category-'+category.id+'" onclick="selectPlatMenu(this)" src="/img/' + plat.image+'" width="100" height="100" style="border-radius: 10px; padding: 5px">';
				}

				document.getElementById('categories').innerHTML += '</div>';
			}
		}

		function selectPlatMenu(plat) {
			Array.from(document.getElementsByClassName(plat.className)).forEach(function(p) {
				p.style.border = 'none';
			});
			plat.style.border = '5px solid green';

			commande_menu_plats[plat.className] = plat.id.split('-')[1];
			document.getElementById('commande_menu_plats').value = Object.values(commande_menu_plats);
		}

		function selectPlat(plat) {
			const plat_id = parseInt(plat.id.split('-')[1]);

			if (!commande_plats.includes(plat_id)) {
				commande_plats.push(plat_id);
				plat.style.border = '5px solid green';
			} else {
				commande_plats = commande_plats.filter(p => p != plat_id);
				plat.style.border = '';
			}

			let total = total_menus;
			for (const commande_plat of commande_plats) {
				total += plats.find(p => p.id == commande_plat).prix;
			}
			
			document.getElementById('total').textContent = total;

			document.getElementById('commande_plats').value = Object.values(commande_plats);
		}
	</script>
{% endblock %}