{% extends 'base.html.twig' %}

{% block title %}La Table des Oursons - Commander{% endblock %}

{% block body %}
	{% include 'menu/_menu.html.twig' %}
	<br><br><br><br>

	Menus
	{% for menu in commandeMenus %}
		<h6>{{ menu.menu.nom }}</h6>
		<ul>
		{% for plat in menu.plats %}
			<li>{{ plat.nom }}</li>
		{% endfor %}
		</ul>
	{% endfor %}

	{{ form_start(form2, {'attr': {'class': 'form-control'}}) }}
		{{ form_label(form2.menu,  null, {'attr': {'class': 'form-label'}}) }}
		{{ form_widget(form2.menu, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(form2.plats,  null, {'attr': {'class': 'form-label'}}) }}
		{{ form_widget(form2.plats, {'attr': {'class': 'form-control'}}) }}

		<button>{{ 'commande.ajouterMenu'|trans }}</button>
	{{ form_end(form2) }}

	{{ form_start(form, {'attr': {'class': 'form-control'}}) }}
		{{ form_label(form.prenom, null, {'attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(form.nom, null, {'attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(form.prix, null, {'attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}

		{{ form_label(form.plats, null, {'attr': {'class': 'form-label'}}) }}
		{{ form_widget(form.plats, {'attr': {'class': 'form-control'}}) }}
				
		<button type='submit' class='btn btn-success'>{{ 'commande.enregistrer'|trans }}</button>
	{{ form_end(form) }}
		
	{#{% for menu in menus %}
		{% for categorie in menu.categories %}
			{% for plat in categorie.plats %}
				<img src='{{ asset('img/' ~ plat.image) }}' width='200px'>
			{% endfor %}
		{% endfor %}
	{% endfor %}#}
{% endblock %}