{% extends 'base.html.twig' %}

{% block title %}La Table des Oursons - Le restaurant{% endblock %}

{% block body %}
	{% include 'menu/_menu.html.twig' %}
	<br><br><br><br>

	<div>
		{% set span = "<span class='ourson'>La Table des Oursons</span>" %}
	    <p class='.container-sm text-center'>
			<img src='{{ asset('img/favicon.png') }}' width='20px'>
			{{ 'restaurant.p1'|trans({'%span%': span}) }}
			<img class='mirror' src='{{ asset('img/favicon.png') }}' width='20px'>
		</p>
	</div>

	<div>
		<p class='.container-sm text-center'>
			<img src='{{ asset('img/favicon.png') }}' width='20px'>
			{{ 'restaurant.p2'|trans }}
			<img class='mirror' src='{{ asset('img/favicon.png') }}' width='20px'>
		</p>
	</div>

	<div>
		<p class='.container-sm text-center'>
			<img src='{{ asset('img/favicon.png') }}' width='20px'>
			{{ 'restaurant.p3'|trans }}
			<img class='mirror' src='{{ asset('img/favicon.png') }}' width='20px'>
		</p>
	</div>

	<div>
		<p class='.container-sm text-center'>
			<img src='{{ asset('img/favicon.png') }}' width='20px'>
			{{ 'restaurant.p4'|trans }}
			<img class='mirror' src='{{ asset('img/favicon.png') }}' width='20px'>
		</p>
	</div>

{% endblock %}