{% block body %}
	<nav class='navbar navbar-expand-lg navbar-light bg-light' style='position: fixed; width: 100%'>
  		<div class='container-fluid'>
    		<a class='navbar-brand ourson' href='{{ path('accueil') }}'>
				<img src='{{ asset('img/favicon.png') }}' width='20px'>
				La Table des Oursons
				<img id='door_admin' class='mirror' src='{{ asset('img/favicon.png') }}' width='20px'>
			</a>
    		<button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      			<span class='navbar-toggler-icon'></span>
    		</button>
			<div class='collapse navbar-collapse' id='navbarSupportedContent'>
				<ul class='navbar-nav me-auto mb-2 mb-lg-0'>
					<li class='nav-item'>
						<a class='nav-link' href='{{ path('restaurant') }}'>{{ 'menu_bar.restaurant'|trans }}</a>
					</li>
					<li class='nav-item'>
						<a class='nav-link' href='{{ path('menus') }}'>{{ 'menu_bar.menus'|trans }}</a>
					</li>
					<li class='nav-item'>
						<a class='nav-link' href='{{ path('commander') }}'>{{ 'menu_bar.commander'|trans }}</a>
					</li>
					<li class='nav-item'>
						<form action='/changeLanguage' method='get'>
							<button onclick='submit()' name='language' value='fr' style='border: none'>
								<svg xmlns='http://www.w3.org/2000/svg' id='flag-icons-fr' viewBox='0 0 50 50' width='40' height='40' style='border-radius: 30px'>
									<g fill-rule='evenodd' stroke-width='1pt'>
										<path fill='#fff' d='M0 0h50v50H0z'/>
										<path fill='#00267f' d='M0 0h16.6v50H0z'/>
										<path fill='#f31830' d='M33.3 0H50v50H33.3z'/>
									</g>
								</svg>
							</button>

							<button onclick='submit()' name='language' value='en' style='border: none'>
								<svg xmlns='http://www.w3.org/2000/svg' id='flag-icons-gb' viewBox='0 0 512 512' height='40' width='40' style='border-radius: 30px'>
									<path fill='#012169' d='M0 0h512v512H0z'/>
									<path fill='#FFF' d='M512 0v64L322 256l190 187v69h-67L254 324 68 512H0v-68l186-187L0 74V0h62l192 188L440 0z'/>
									<path fill='#C8102E' d='m184 324 11 34L42 512H0v-3l184-185zm124-12 54 8 150 147v45L308 312zM512 0 320 196l-4-44L466 0h46zM0 1l193 189-59-8L0 49V1z'/>
									<path fill='#FFF' d='M176 0v512h160V0H176zM0 176v160h512V176H0z'/>
									<path fill='#C8102E' d='M0 208v96h512v-96H0zM208 0v512h96V0h-96z'/>
								</svg>
							</button>
						</form>
					</li>
					<li class='nav-item'>
						<label class='nav-link'><b>{{ getTemperature() }}</b><label>
					</li>
					<li class='nav-item'>
						<img src='{{ getIcon() }}'>
					</li>
					{% if (app.user) %}
						<li class='nav-item'>
							<a class='nav-link' href='{{ path('admin') }}'><b>Back-Office</b></a>
						</li>
						<li class='nav-item'>
							<a class='nav-link' href='{{ path('admin_logout') }}'><b>{{ 'menu_bar.deconnexion'|trans }}</b></a>
						</li>
					{% endif %}
				</ul>
			</div>
  		</div>
	</nav>
{% endblock %}

{% block javascripts %}
	<script>
		const door_admin = document.getElementById('door_admin');
		door_admin.oncontextmenu = function(e) {
			e.preventDefault();
			window.location.href = '{{ path('admin_login') }}';
		};
	</script>
{% endblock %}